:root{
        --primary-color:#b5e4f2;
        --white-color: #fff;
        --black-color:#000;
        --text-color:#333;
        --navbar-height: 52px;
        --header-height: 120px;
        --header-with-search: calc(var(--header-height) - var(--navbar-height));
        --star-gold: #f5de12;
}

*{
    box-sizing: inherit;
}
html{
    font-size: 62,5%;
    line-height: 1.6em;
    font-family: 'Roboto', sans-serif; 
    box-sizing: border-box;
}

.grid__row{
    display: flex;
    flex-wrap: wrap ;
    margin-left: -5px;
    margin-right: -5px;
    
}
.grid-colum-2{
   padding-left: 5px;
   padding-right: 5px;
   width: 16.6667%;
}
.grid-colum-10{
    padding-left: 5px;
   padding-right: 5px;
   width: 83.3334%;
}
.grid-colum-2-4{
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}
@keyframes fadein{
    from{
        opacity: 0;

    }
    to{
        opacity: 1;
    }
}
@keyframes notification{
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}
@keyframes grow{
    from{
        transform: scale(var(--grow-from));
    }
    to{
        transform: scale(var(--grow-to));
    }
}
/* button syle */
.btn{
    min-width: 124px;
    height: 34px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.2rem;
    cursor: pointer;
}
.btn:hover{
    background-color: #ccc;
}
.btn.btn-primary{
    color: var(--white-color);
    background-color:rgb(45, 100, 252);
}
.home-filter-label{
    font-size: 1rem;
    color: #555;
    margin-right: 16px;
}
/* selection */
.select-input{
    height: 34px;
    min-width: 200px;
    padding:0 12px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.select-input-label{
    font-size: 1rem;
}
.select-input i{
    font-size: 0.7rem;
}
.sel-input-list{
    position: absolute;
    left: 0;
    right: 0;
    top:36px ;
    margin: 0;
    background-color: var(--white-color);
    display: none;
    padding-left: 20px ;
    z-index: 6;
}
.input-item{
    list-style-type: none;
    padding: 8px 0;
}
.input-item a{
    text-decoration: none;
    color: var(--text-color);
}
.input-item a:hover{
    color: var(--primary-color);
}
.select-input:hover .sel-input-list{
    display: block;
}
.sel-input-list::before{
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top:-5px;
    height: 10px;
    width: 100%;
    background-color: transparent;
}